*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#scoreDiv1,#scoreDiv2{
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgb(211, 210, 210);
    padding: 10px;
    border-radius: 6px;
}
.modal-body{
    position: relative;
}

.range-numbers{
    pointer-events: none;
    font-size: medium;
    opacity: .4;
    font-weight: 500;
    width: 92.2%;
    left: 4%;
    top: 65.5%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}